main{
    padding: 15px;
    flex: 1;
}
main header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2A2F3A;
}
.hpinfo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.hpinfo svg{
    width: 20px;
    height: 20px;
}
.hpinfo h2{
    color: white;
    font-size: 30px;
}
.addtask button{
    padding: 8px;
    border-radius: 12px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    gap: 2px;
}
.addtask button svg{
    width: 25px;
    height: 25px;
    fill: white;
}
