*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border: 0;
}
button:hover{
    cursor: pointer;
}
body{
    font-family: "Inter",sans-serif;
    background-color: #10141B;
    display: flex;
}